<configuration>
  <appSettings>
    <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="app.app" />
    <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS"
         value="C:\Users\pranjal.singh\AppData\Local\Programs\Python\Python36-32\python.exe" />
    <add key="pythonpath" value="C:\Users\pranjal.singh\AppData\Local\Programs\Python\Python36-32\Scripts\" />
    <add key="WSGI_HANDLER" value="virtualenv_proxy.get_venv_handler()" />
  </appSettings>
</configuration>
